#container {
   display: flex;
   justify-content: space-around;   
   align-items: flex-end;
   flex-wrap: wrap;
}

#mediKidContainer{
   display: flex;
   justify-content: space-between;   
   align-self: flex-end;

}

#birdContainer {
   display: flex;
   justify-content: space-around;
}


progress[value] {
   background: transparent;
   width: 250px;
   height: 20px;
 }